nav li{
        list-style: none;
        display: inline;
        margin-right: 40px;
}

nav li:hover{
    font-weight: bold;
    background-color: rgb(235, 222, 222);
    border-radius: 20px;
    padding: 10px;
    border: 2px solid rgb(3, 1, 1);
    box-shadow: 5px 5px 20px gray ;
}

nav li a{
    color: rgb(25, 138, 138);

}


.ni{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

footer{
    text-align: center;
    margin-top: 50px;
}