.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    height: 200px;
}

.box{
    background-color: lightcoral;
    height: 70px;
    width: 50px;
    padding: 50px;
    text-align: center;
    font-size: 20px;
}